<section id="impressum">
  {% include btn_index.html %}
  <h1>Impressum</h1>
  <h4>Angaben gemäß § 5 TMG</h4>
  <br />
  Klaus Beckmann <br />
  Fitnesstrainer <br />
  Oskar-von-Miller-Str. 30 <br />
  83714 Miesbach <br /><br />
  <h4>Kontakt</h4>
  Telefon: +49 170 7320898 <br />
  E-Mail: info@beckmannklaus.com <br /><br />
  <h4>Umsatzsteuer-ID</h4>
  Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: <br />
  139/203/70637 <br /><br />
  <h4>EU-Streitschlichtung</h4>
  Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung
  (OS) bereit: <br />
  <a href="https://ec.europa.eu/consumers/odr/"
    >https://ec.europa.eu/consumers/odr/</a
  >. <br />
  Unsere E-Mail-Adresse finden Sie oben im Impressum. <br /><br />
  <h4>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h4>
  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
  einer Verbraucherschlichtungsstelle teilzunehmen. <br />

  Quelle: <br />
  https://www.e-recht24.de/impressum-generator.html <br /><br />
  {% include btn_index.html %}
</section>
