<section id="Partner">
  <h1>Partner</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <a href="http://www.medius-fitness.de" target="_blank"
            >Medius Fitness</a
          >
        </td>
        <td>
          <Medizinische>Fitness am Tegernsee und Schliersee</Medizinische>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.cardioscan.de" target="_blank">Cardioscan</a>
        </td>
        <td>Innovative und zertifizerte Medizintechnik</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.bianco-power.com" target="_blank">Bianco Power</a>
        </td>
        <td>Mixer für eine gesunde Ernährung</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.gregory-richter.de" target="_blank"
            >Gregory Richter</a
          >
        </td>
        <td>Heilpraktiker in München-Nymphenburg</td>
      </tr>
      <tr>
        <td>
          <a a href="http://www.epc-ionox.com" target="_blank">IONOX</a>
        </td>
        <td>Trinkwasserlösungen und Wassertechnologie</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.klinik-alpenpark.de" target="_blank"
            >Klinik im Alpenpark</a
          >
        </td>
        <td>Reha-Klinik in Bad Wiessee am Tegernsee</td>
      </tr>
    </tbody>
  </table>
  {% include btn_index.html %}
</section>
